
/*Navbar con sfondo colorato*/
.navbar , .panel-heading , .panel-title, .modal-header, .btn-primary{
	background-color:#3cb3ad !important;
	color: white !important;
	border-color: #3cb3ad !important;
}
.navbar{
	margin-right:15px;
	margin-left:15px;
}
/*Menu della navbar*/
#bt_stat, #bt_titolo, #bt_about{
	color: #ffffff;
}
#bt_stat:hover, #bt_about:hover, #bt_titolo:hover{
	color: #000000;
}

.input_text_size {
	width:80% !important;
}

/*Pannello laterale sinistro*/
#tit_lista.active a, #tit_annotazioni.active a{
	background-color:#F4FA58 !important;
	color:#000000;
}

#panel_sinistra{
	margin-left:0px;
	margin-right:0px;
}


/*Contenuto documento*/

.list-group-item { 
	word-wrap: break-word; 
	
}

.container{
	width:100%;
}

.panel-subtitle{
	margin-top: 0;
	margin-bottom: 0;
	color: inherit;
}
	
.span_help{
	float:right;
} 

.collapsed{
	cursor:pointer;
}

.bold, .modal-body{
	word-wrap:break-word !important;
}

/************ AGGIUNTE ********************/

.div_associazione{
	border-bottom:1px solid #000000;
	padding-top:5px;
	padding-bottom:5px;

}


#tab_risultati{
    margin: 0;
	padding: 10px;
	height: 49px;
	font-size: 20px;
	border-bottom: 3px solid #666;
	font-weight: bold;
}

#panel_elenco{

}

#panel_elenco .panel-default{

}

.span_title{
	font-weight: bold;
}

#div_elenco{
	height:980px;
	overflow:auto;
	clear:left;
}

#div_query{

overflow: auto;


}
#panel_query{
width:100%
}


#filtri_cat, #filtri_comune{
	height:307px;
	overflow:auto;
	border:none;
}

.title_nome{
	font-weight:bold;
	font-size:20px;
}

.div_bt_query{
	border:none;
	padding:10px;
	margin-bottom:15px;
}

.group_cerca{
	width:30%;
}

#text_ricerca { 
    width: 200px; 
    float: right;
}

.filtro_ricerca{
	color: #3cb3ad;
}

.check_cat:checked + span{
	font-weight: bold;
}

#panel_stat{
	width:100%;
}

#div_stat{
	height:600px;
}

#chartDati{
height: 500px;
position: relative;
width: 50%;
left: 896px;
top: -501px;
}

.span_bt_query{
	float:right;
}

.span_check_all{
	position: relative;
	top: 7px;
}


.scroll-top-wrapper {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: #3cb3ad;
	color: #ffffff;
	width: 50px;
	height: 48px;
	line-height: 48px;
	right: 30px;
	bottom: 30px;
	padding-top: 2px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
	background-color: #2f918c;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}
.scroll-top-wrapper i.fa {
	line-height: inherit;
}
